@{
    ViewBag.Title = "About";
}
<h2>Clinical Procedure Training Center</h2>
<br>
<br>
<h4>
    The “Clinical Procedure Training Center” is a web application which is used to help trainees
    and training staff to manage the Clinical Procedure training courses including creating,
    checking, editing, deleting and booking.
</h4>
