@{
    ViewBag.Title = "Contact";
}
<h2>Clinical Procedure Training Center</h2>
<h3>We provide high quality Procedure Training courses</h3>

<address>
    900 Dandenong Road<br />
    Caulfield East, VIC 3145<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>