@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clinical Procedure Training Center</h1>
    <br>
    <br>
    <p class="lead">
        The “Clinical Procedure Training Center” is a web application which is used to help trainees
        and training staff to manage the Clinical Procedure training courses including creating,
        checking, editing, deleting and booking.
    </p>
</div>